__pycache__/
*.py[cod]
*$py.class

*/.venv
.venv/
venv/
env/
.env
.env.*
*.env

build/
dist/
*.egg-info/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

.mypy_cache/
.dmypy.json
.pyre/

.pulumi/
Pulumi.*.yaml
Pulumi.*.json

*.pem
*.key
*.p12
*.crt
*.cer
*.der
*.pfx

# Logs
*.log

.DS_Store
.vscode/
.idea/
